body {
    display: grid;
    grid-template-columns: 50px 1fr;
}

#upper-main {
    display: grid;
    grid-template-rows: 50px 50px;
}
#lower-main {
    display: grid;
    grid-template-rows: 40px 200px;
}
#top {
    background: greenyellow;
    display: grid;
    grid-template-rows: 20px 20px;
}
#suggestions {
    background: pink;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
}
#tool-bar {
    background: darkblue;
}
li {
    display: inline;
    font-weight: bolder;
}
.sugg-list {
    background-color: blueviolet;
    display: grid;
    border: 2px solid black;
}
tr {
    border: 2px solid black;
}
td {
    height: 100px;
    width: 250px;
    border: 2px solid black;
}
#shorts-bar {
    background: olivedrab;
}
#shorts {
    background: orangered;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 200px;
}
#shorty {
    border: 2px solid black;
}
.suggvid {
    border: 2px solid black;
}
